

html{
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out 3s;
  }
  
  body{
      font-family: fantasy!important;
    background-color:pink;
    background-image: linear-gradient(135deg,pink 30%, #c7e1ffe7 60%);  
  }
  
  h1{
    color:#f1fcffe7;
    text-align:centre;
   
  }
  
  p{
    color:pink;
    
  }
  
  
  h2, h3, h5, h6{
    color:pink;
    
  }
  
  h4, h1{
    color:#a1d9ffe7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  }
  
  /* Header/logo Title */
  .header {
    padding: 100px;
    text-align: center;
    background: rgb(224, 159, 170);
    color:papayawhip;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 100px;
  
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #b5f0ffe7;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    color:pink;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 50px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 50px;
  }
  
  
  /* Footer */
  .footer {
    padding: 50px;
    text-align: center;
    background: pink;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction:row;
      text-align: center;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: center;
      width: 100%;
    }
  }
  
  
  
  a:link{
    color:white;
  }
  
  a:hover{
    background-color: #ffa8cfe7 
  }
  
  ol, ul{
    color:white;
  }
  
  li{
    display: inline;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    position: relative;
    
  }
  .row {
    margin:auto;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: center;
    top: 40%;
    width: auto;
    padding: 20px;
    margin-top: 50px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 6px 6px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(245, 192, 223, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgb(233, 157, 169);
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: center;
    width: 18%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.8;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
